/* More */

.wallet {
  background-color: var(--color-scoco);
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin-bottom: 40px;
}

.wallet-first {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.wallet-title {
  font-weight: 700;
  font-size: 25px;
}

.wallet-extra {
  display: flex;
}

.wallet-extra span {
  padding: 0 20px;
  border-right: 1px solid var(--color-sgray);
}

.wallet-extra span:last-child {
  border-right: none;
  padding-right: 0;
}

.wallet-banner {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 15px 20px;
  font-weight: 700;
  color: var(--color-scoco);
  margin-bottom: 30px;
}

.cocopay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  margin-bottom: 30px;
}

.cocopay-title {
  display: flex;
  align-items: center;
  font-style: italic;
}

.cocopay-title i {
  padding-top: 4px;
  margin-right: 3px;
}

.cocopay-detail {
  display: flex;
  justify-content: space-between;
}

.cocopay-detail-left span {
  margin-right: 30px;
}

/* Weather */

.weather {
  background-color: #e5e5e5;
  display: flex;
  justify-content: flex-start;
  padding: 60px 30px;
  margin-bottom: 40px;
  align-items: center;
  position: relative;
  line-height: 1.5;
  text-align: center;
}

.weather .current,
.weather .tomorrow {
  width: 40%;
  font-weight: 500;
}

.weather i {
  position: absolute;
  right: 30px;
  padding: 5px;
  color: var(--color-scoco);
  border: 2px solid var(--color-scoco);
  border-radius: 50%;
  cursor: pointer;
}

.weather i:hover {
  opacity: 0.5;
}
