@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

:root {
  /* Color */

  --color-defa: #273444;
  --color-coco: #84563c;
  --color-gray: #8492a6;
  --color-sgray: #afb3b9;
  --color-red: tomato;
}

* {
  box-sizing: border-box;
  margin: 0;
  color: var(--color-defa);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, "Lato",
    sans-serif, "Apple Color Emoji";
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Common things below */

/* Status-bar */

.status-bar {
  display: flex;
  margin: 10px 20px;
  justify-content: center;
  height: auto;
}

.connection {
  display: flex;
  width: 33%;
  text-align: left;
}

.clock {
  width: 33%;
  text-align: center;
}

.power {
  width: 33%;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.battery-percent {
  margin-right: 5px;
}

.battery-image .hidden {
  display: none;
}
/* badge */

.badge {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 700;
  background-color: var(--color-red);
}

/* Navigation-bar */

.navigation-bar {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 72px;
  background-color: var(--color-coco);
  border-top: 1px solid var(--color-coco);
}

.navigation-bar ul {
  width: 100%;
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 35px;
}

.navigation-bar ul .notification-able {
  position: relative;
}

@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: none;
  }
}

.navigation-bar ul li .notification {
  position: absolute;
  top: -10px;
  right: -12px;
  animation: notificationAnimation 2500ms ease-in-out infinite;
}

#guard {
  width: 0;
  height: 72px;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: auto;
}

.header-title strong {
  font-size: 30px;
}

.header-icons span i {
  margin-right: 20px;
  cursor: pointer;
}

.header-icons span:last-child i {
  margin-right: 0;
}

/* Screen size > 704px */

.no-mobile {
  z-index: 99;
  top: 0;
  height: 100vh;
  width: 100vw;
  position: absolute;
  font-size: 32px;
  text-align: center;
  color: white;
  background-color: var(--color-coco);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 704px) {
  .no-mobile {
    display: none;
  }
}

/* Common things beside */

/* Login - header */

.login-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  text-align: center;
}

.login-header strong {
  margin-bottom: 40px;
  font-size: 24px;
}

.login-header span {
  line-height: 1.5;
  color: var(--color-gray);
}

/* Login-form */

.login-form {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
}

.username,
.password {
  display: inline-block;
  font-size: 16px;
  margin-bottom: 25px;
  border: none;
  border-bottom: 1.5px solid var(--color-gray);
  transition: border-color 300ms ease-in-out;
  padding: 15px;
}

.username:focus,
.password:focus {
  outline: none;
  border-color: var(--color-coco);
}

.login-button {
  font-size: 16px;
  font-weight: 700;
  border: none;
  background-color: var(--color-coco);
  color: white;
  padding: 20px;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 25px;
  transition: opacity 500ms ease;
}

.login-button:hover {
  opacity: 0.7;
}

.find-account {
  text-decoration: none;
  font-size: 12px;
  text-align: center;
  color: var(--color-gray);
}

/* Friends */

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.screen-splash {
  background-color: var(--color-coco);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  animation: hideSplashScreen 1s ease-in-out forwards;
  animation-delay: 0.5s;
}

.friends-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 20px;
}

.friends-main .user-profile {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.friends-main .user-profile img {
  width: 70px;
  height: 70px;
  border-radius: 36.5%;
  margin-right: 15px;
}

.friends-main .user-profile h2 {
  font-weight: 600;
}

.multi-profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.multi-profile .multi-profile-header {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  margin-bottom: 10px;
  border-top: 1.5px solid var(--color-coco);
}

.multi-profile .multi-profile-header span {
  color: var(--color-gray);
}

.multi-profile .multi-profile-space {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
}

.multi-profile .multi-profile-space .multi-profile-1,
.multi-profile .multi-profile-space .multi-profile-create {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 22.5px;
}

.multi-profile .multi-profile-space img {
  width: 60px;
  height: 60px;
  border-radius: 36.5%;
  margin-bottom: 5px;
}

.channel .channel-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.channel .channel-header {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  margin-bottom: 10px;
  border-top: 1.5px solid var(--color-coco);
}

.channel .channel-header span {
  color: var(--color-gray);
}

.channel .channel-profile {
  display: flex;
  align-items: center;
}

.channel .channel-space .channel-profile img {
  width: 60px;
  height: 60px;
  border-radius: 36.5%;
  margin-bottom: 5px;
  margin-right: 15px;
}

/* Chats */

.chatrooms {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.chatrooms a {
  text-decoration: none;
}

.chatrooms .chatroom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.chatrooms .chatroom .sender {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.chatrooms .chatroom .sender .sender-profile img {
  width: 70px;
  height: auto;
  border-radius: 36.5%;
  margin-right: 20px;
}

.chatrooms .chatroom .sender .sender-profile .message-from {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chatrooms .chatroom .sender .message-from h3 {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 7px;
}

.chatrooms .chatroom .sender .message-from h3 span {
  color: var(--color-gray);
}

.chatrooms .chatroom .sender .message-from p {
  color: var(--color-gray);
  font-size: 17px;
}

.chatrooms .chatroom .sender-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.chatrooms .chatroom .sender-detail .time-stamp {
  color: var(--color-sgray);
  display: inline-block;
  margin-bottom: 7px;
}

.chatrooms .chatroom .sender-detail .no-show {
  visibility: hidden;
}

/* Main menu & View */

.main-menu {
  padding: 0 20px;
}

.main-menu ul {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  padding-left: 0;
}

.main-menu ul li {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 0;
  color: var(--color-gray);
  cursor: pointer;
}

.main-menu ul li:last-child {
  margin-right: 0;
}

.main-menu ul .current-list {
  border-bottom: 2px solid var(--color-defa);
  color: var(--color-defa);
}

.view-content {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  background-color: #e5e5e5;
}

.view-content .main-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.view-content .main-content p {
  margin-bottom: 20px;
  text-align: center;
  line-height: 1.6;
}

.view-content .main-content img {
  margin-bottom: 20px;
  width: 40%;
}

.view-content .main-content button {
  background-color: var(--color-coco);
  border: none;
  border-radius: 4px;
  font-size: 15px;
  padding: 15px 20px;
  color: white;
  cursor: pointer;
}

/* Chatroom */

.chatroom-header {
  display: flex;
  padding: 15px 20px;
  background-color: rgb(132, 86, 60, 0.8);
}

.chatroom-header a {
  display: flex;
  align-items: center;
  width: 33%;
  text-decoration: none;
  font-size: 18px;
}

.chatroom-header a i {
  margin-right: 10px;
}

.chatroom-header .chatroom-friend {
  width: 33%;
  text-align: center;
  font-size: 22px;
}

.chatroom-header .chatroom-header-icons {
  width: 33%;
  text-align: right;
}

.chatroom-header .chatroom-header-icons i {
  padding-top: 5px;
  margin-right: 10px;
}

.chatroom-header .chatroom-header-icons i:last-child {
  margin-right: 0;
}

.dialogue {
  padding: 20px;
  height: 100vh;
  background-color: rgb(132, 86, 60, 0.8);
}

.dialogue .date {
  text-align: center;
  margin-bottom: 20px;
}

.dialogue .date span {
  padding: 4px 15px;
  border-radius: 30px;
  font-size: 15px;
  color: white;
  background-color: var(--color-sgray);
}

.dialogue .messages .message {
  display: flex;
  margin-bottom: 30px;
}

.dialogue .messages .message .profile-in-message img {
  width: 55px;
  border-radius: 42.5%;
  margin-right: 10px;
  margin-bottom: 15px;
}

.dialogue .messages .message .message-text {
  display: flex;
  flex-direction: column;
}

.dialogue .messages .message .message-text p {
  font-weight: 500;
  margin-bottom: 10px;
}

.dialogue .messages .message .message-text .text-and-time {
  display: flex;
  align-items: flex-end;
}

.dialogue .messages .message .message-text .text {
  background-color: var(--color-coco);
  color: white;
  padding: 10px 10px 10px 15px;
  border-radius: 0 50px 50px 50px;
  margin-right: 10px;
}

.dialogue .messages .message .message-text .time {
  color: var(--color-sgray);
}

.dialogue .messages .my-message {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.dialogue .messages .my-message span {
  color: var(--color-coco);
  background-color: white;
  padding: 10px 15px 10px 10px;
  border-radius: 50px 0 50px 50px;
}

.dialogue .messages .my-message .first-message {
  margin-bottom: 20px;
}

.dialogue .messages .my-message .second-message {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
}

.dialogue .messages .my-message .second-message .text-2 {
  padding: 10px;
  border-radius: 50px;
}

.dialogue .messages .my-message .time-2 {
  background-color: transparent;
  color: var(--color-sgray);
  padding-bottom: 0;
  padding-right: 10px;
}

.reply {
  width: 100%;
  padding: 15px 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.reply i {
  cursor: pointer;
}

.reply .attach-button i {
  opacity: 0.5;
  width: 7.5%;
  font-size: 25px;
  margin-right: 10px;
}

.reply .reply-input {
  position: relative;
  width: 92.5%;
}

.reply .reply-input input {
  width: 100%;
  border: 1px solid var(--color-sgray);
  padding: 15px;
  border-radius: 50px;
}

.reply .reply-input input:focus {
  outline: none;
}

.reply .reply-input i {
  position: absolute;
  right: 25px;
  bottom: 15px;
  opacity: 0.5;
}

.reply .reply-input i.emoji {
  position: absolute;
  right: 60px;
}

.reply .reply-input button {
  display: none;
}
